.page__wrap
	header.header__wrap
		.header__item
			ul.item_wrap-link
				li
					img(src="/assets/img/github.png")
				li
					img(src="/assets/img/github.png")
				li
					img(src="/assets/img/github.png")
		button(class="cmn-toggle-switch cmn-toggle-switch__rot")
			span
	.header__content
		.header__content_wrap
			.welcome__img_wrap
				img(src="/assets/img/avatar.jpg", class="welcome__img_avatar")
			.welcome__text_name.welcome__text_white
				h2 #{name}
				p Личный сайт веб разработчика
		svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
			polygon(points="0,0   0,86   500.8,86   500.8,75.5")
			polygon(points="1000,00   1000,86   500,86   500,75.5",fill="#eeebdf")
	main.main
		.main__wraper_left
			h1 Обо мне
			.main__content_left
				img(src="/assets/img/avatar.jpg")
				h3 Кто я
				p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать 		 |интересные и современные проекты. 

				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!	
		.skills
			h3.dashed-title Чем я могу быть вам полезен
			p.skills__description 	
				Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.content__skills
				h4 Frontend
				ul.skills__list
					li.skills__list_item
						.skills__title
							h4 Front-end
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle_content		
					li.skills__list_item		
						.skills__title
							h4 Front-end
						.skills__circle		
							img(src="/assets/img/gulp.png")		
						.skills__circle_content
					li.skills__list_item
						.skills__title
							h4 Front-end
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle_content