.page__wrap_about
	include ../common/header
	main.main
		.info-self
			.dashed-title
				+icon("about_header")
				h1 Обо мне
			.info-self__content
				.info-self__avatar
					img(src="/assets/img/avatar.jpg")
				h3.dashed-title Кто я
				.info-self__description
					p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать 		 |интересные и современные проекты. 

					p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!	
		.skills
			.dashed-title
				h3 Чем я могу быть вам полезен
			p.skills__description 	
				|Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.content__skills
				h4.skills__title Frontend
				ul.skills__list
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circl-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
			.content__skills
				h4.skills__title Backend
				ul.skills__list
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
			.content__skills
				h4.skills__title WorkFlow
				ul.skills__list
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
					li.skills__list-item
						.skills__circle
							img(src="/assets/img/gulp.png")
						.skills__circle-content
	.maps
		.welcome
			.dashed-title
				h3 Контакты
			.maps__contacts
				ul.maps__contacts-list
					li.maps__contacts-item
						span
							+icon('skype')
						| bapura96
					li.maps__contacts-item
						span
							+icon('envelope2')
						| androschykserg@gmail.com 
					li.maps__contacts-item
						span
							+icon('phone')
						| +38 063 612 07 15
					li.maps__contacts-item
						span
							+icon('map_marker')
						| Киев, ул. Янгеля 10
