.page__wrap
	include ../common/header
	.works__wrap-title
		.works__title
			+icon("works_header")
			h1 Мои Работы
	.slider
		.slider__left
			img(src="/assets/img/work-4.png")
		.slider__right
			.slider__content
				h2.slider__title Сайт школы онлайн Образования
				.slider__descr
					p  HTML , CSS, JAVASCRIPT HTML
				.slider__button
					a(href="#").slider__botton-icon
						+icon('link')
						span.slider__botton-descr Посмотреть сайт
		nav.slider__arrows
			span.slider__arrows-prev
				+icon('portf_arrow_down')
			span.slider__arrows-next
				+icon('portf_arrow_up')
		nav.slider__dots
			span.slider__dots-current
			span
			span
			span
	.about-me
		.works__title
			+icon("about_header")
			h1 Что обо мне говорят
		.comments__wrap
			.comments__group
				.comments__description
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group-person
						.comments__group-img
							img(src="/assets/img/DimaK.jpg")
						.comments__group-name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
			.comments__group
				.comments__description
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group-person
						.comments__group-img
							img(src="/assets/img/DimaK.jpg")
						.comments__group-name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
		.feadback
			h2 Связаться со мной
			form.feadback__form
				label.feadback__label
					input(class="feadback__input")
				label.feadback__label
					input(class="feadback__input")
				label.feadback__label
					textarea.feadback__textarea
			ul.welcome__navigation
				li
					a(href="/#")  Отправить
				li.welcome__button-reset
					a(href="#")  Очистить
		.about-me__icon-up
			+icon('portf_arrow_up')