.page__wrap
	include ../common/header
	.works__wrap_title
		.works_title
			h1 Мои работы
	.slider
		.slider__left
			img(src="/assets/img/work-4.png")
		.slider__right
			.slider__content
				h2.slider__content_title Сайт школы онлайн Образования
				.slider__content_descr
					p  HTML , CSS, JAVASCRIPT HTML
				.slider__botton
					a(href="#").slider__botton_icon
						+icon('link')
						span.slider__botton_descr Посмотреть сайт
		nav.slider__arrows
			span.slider__arrows-prev
				+icon('portf_arrow_down')
			span.slider__arrows-next
				+icon('portf_arrow_up')
		nav.slider__dots
			span
			span.slider__dots_current
			span
			span
	.about-me
		.works_title
			h1 Что обо мне говорят
		.comments__wrap
			.comments__group
				.comments__group_descr
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group_person
						.comments__group_img
							img(src="/assets/img/DimaK.jpg")
						.comments__group_name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
			.comments__group
				.comments__group_descr
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group_person
						.comments__group_img
							img(src="/assets/img/DimaK.jpg")
						.comments__group_name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
		.feadback
			h3 Связаться со мной
			form.feadback__form
				label.feadback__label
					input(class="feadback__label_input")
				label.feadback__label
					input(class="feadback__label_input")
				label.feadback__label
					textarea.feadback__textarea
			ul.welcome__navigation
				li
					a(href="/#")  Отправить
				li
					a(href="#")  Очистить
		.about-me__icon_up
			+icon('portf_arrow_up')