.page__wrap
	include ../common/header
	.works__wrap-title
		.works__title
			+icon("works_header")
			h1 Мои Работы
	.slider
		.slidesContainer
			ul.slider__list
				li.slider__item.active
					.slider__left
						img(src="/assets/img/work-1.png", alt="work4")
					.slider__right
						.slider__content
							h2.slider__title Сайт школы онлайн Образования
							ul.slider__skills-list
								li HTML
								li CSS
								li JAVASCRIPT
								li HTML											
							.slider__button
								a(href="#").slider__botton-icon
									+icon('link')
									span.slider__botton-descr Посмотреть сайт
				li.slider__item
					.slider__left
						img(src="/assets/img/work-2.png", alt="work4")
					.slider__right
						.slider__content
							h2.slider__title Сайт школы онлайн Образования
							ul.slider__skills-list
								li HTML
								li CSS
								li JAVASCRIPT
								li HTML											
							.slider__button
								a(href="#").slider__botton-icon
									+icon('link')
									span.slider__botton-descr Посмотреть сайт
				li.slider__item
					.slider__left
						img(src="/assets/img/work-3.png", alt="work4")
					.slider__right
						.slider__content
							h2.slider__title Сайт школы онлайн Образования
							ul.slider__skills-list
								li HTML
								li CSS
								li JAVASCRIPT
								li HTML											
							.slider__button
								a(href="#").slider__botton-icon
									+icon('link')
									span.slider__botton-descr Посмотреть сайт
			ul.slider__dots
			//- li.slider__dots-current.active
			//- 	a(href="#",class="slider__dots-link")
			//- li.slider__dots-current
			//- 	a(href="#",class="slider__dots-link")
			//- li.slider__dots-current
			//- 	a(href="#",class="slider__dots-link")
			//- li.slider__dots-current
			//- 	a(href="#",class="slider__dots-link")
		.slider__controls
			a(href="#", class="slider__controls-prev slider__controls-button slider__arrows-prev")
				+icon('portf_arrow_down')
			a(href="#", class="slider__controls-next slider__controls-button slider__arrows-next")
				+icon('portf_arrow_up')
	.about-me
		.works__title
			+icon("about_header")
			h1 Что обо мне говорят
		.comments__wrap
			.comments__group
				.comments__description
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group-person
						.comments__group-img
							img(src="/assets/img/DimaK.jpg" alt="Dima")
						.comments__group-name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
			.comments__group
				.comments__description
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group-person
						.comments__group-img
							img(src="/assets/img/DimaK.jpg" alt="Zar")
						.comments__group-name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
		.feadback
			.feadback__blur
				img(src="/assets/img/bg_about.png")
			.feadback__form-wrapper
				h2 Связаться со мной
				form(class="feadback__form",action="#")
				label.feadback__label
					input(class="feadback__input",type="text",name="name",placeholder="Имя")
				label.feadback__label
					input(class="feadback__input",type="email",name="mail",placeholder="Email")
				label.feadback__label
					textarea(class="feadback__textarea",name="textarea",placeholder="Ваше сообщение")
				ul.welcome__navigation
					li
						input(class="form__button",name="send",type="submit",value="Отправить")
					li.welcome__button-reset
						input(class="form__button",type="reset",name="Reset",value="Очистить")
		.about-me__icon-up
			a(href="#")
				+icon('portf_arrow_up')