.page__wrap
	include ../common/header
	.works__wrap-title
		.works__title
			+icon("works_header")
			h1 Мои Работы
	.slider
		.slider__left
			img(src="/assets/img/work-4.png")
		.slider__right
			.slider__content
				h2.slider__title Сайт школы онлайн Образования
					ul.slider__skills-list
						li HTML
						li CSS
						li JAVASCRIPT
						li HTML
						li HTML
						li CSS
						li JAVASCRIPT
						li HTML
						li HTML
						li CSS
						li JAVASCRIPT
						li HTML												
				.slider__button
					a(href="#").slider__botton-icon
						+icon('link')
						span.slider__botton-descr Посмотреть сайт
		nav.slider__arrows
			span.slider__arrows-prev
				a(href="#")
					+icon('portf_arrow_down')
			span.slider__arrows-next
				a(href="#")
					+icon('portf_arrow_up')
		nav.slider__dots
			span.slider__dots-current
			span
			span
			span
	.about-me
		.works__title
			+icon("about_header")
			h1 Что обо мне говорят
		.comments__wrap
			.comments__group
				.comments__description
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group-person
						.comments__group-img
							img(src="/assets/img/DimaK.jpg")
						.comments__group-name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
			.comments__group
				.comments__description
					p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.comments__group-person
						.comments__group-img
							img(src="/assets/img/DimaK.jpg")
						.comments__group-name
							h4 Ковальчук Дмитрий
							p основатель Loftschool
		.feadback
			h2 Связаться со мной
			form(class="feadback__form",action="#")
				label.feadback__label
					input(class="feadback__input",type="name",name="name",placeholder="Имя",required="")
				label.feadback__label
					input(class="feadback__input",type="email",name="mail",placeholder="Email",required="")
				label.feadback__label
					textarea(class="feadback__textarea",type="text" name="textarea",placeholder="Ваше сообщение")
			ul.welcome__navigation
				li
					input(class="form__button",name="send",type="submit",value="Отправить")
				li.welcome__button-reset
					input(class="form__button",name="clear",type="reset",value="Очистить")
		.about-me__icon-up
			a(href="#")
				+icon('portf_arrow_up')