footer.footer
	.footer__top
		.footer__menu-wrap
			ul.footer__menu-list
				li.footer__menu-item
					a(href="/works.html") Мои работы
				li.footer__menu-item
					a(href="/about.html") Обо мне
				li.footer__menu-item
					a(href="/blog.html") Блог
				li.footer__menu-item
					a(href="/index.html") Авторизация
		.footer__icon-wrap
			ul.icon__wrap-link.footer__item-wrap
				li
					a(href="https://vk.com/grey_ss",target="_blank")
						+icon('vk_round')
				li
					a(href="https://github.com/AndroshchukSerhii",target="_blank")
						+icon('github_round')
				li
					a(href="https://ua.linkedin.com/in/сергей-андрощук-1b03b8125",target="_blank")
						+icon('in_round')
	.footer__bottom
		.footer__description-left
			p Я веб-разработчик из Киева, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer__description-right
			p © Андрощук Серей | создано с любовью в LoftSchool | 2016