footer.footer
	.footer__top
		.footer__menu_wrap
			ul.footer__menu_list
				li.footer__menu_item
					a(href="/works.html") Мои работы
				li.footer__menu_item
					a(href="/about.html") Обо мне
				li.footer__menu_item
					a(href="#") Блог
				li.footer__menu_item
					a(href="/index.html") Авторизация
		.footer__icon_wrap
			ul.icon__wrap-link.footer__item_wrap
				li
					+icon('vk_round')
				li
					+icon('github_round')
				li
					+icon('in_round')
	.footer__bottom
		.footer__description_left
			p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer__description_right
			p © Андрощук Серей | создано с любовью в LoftSchool | 2016