footer.footer
	.footer__top
		.footer__menu-wrap
			ul.footer__menu-list
				li.footer__menu-item
					a(href="/works.html") Мои работы
				li.footer__menu-item
					a(href="/about.html") Обо мне
				li.footer__menu-item
					a(href="/blog.html") Блог
				li.footer__menu-item
					a(href="/index.html") Авторизация
		.footer__icon-wrap
			ul.icon__wrap-link.footer__item-wrap
				li
					+icon('vk_round')
				li
					+icon('github_round')
				li
					+icon('in_round')
	.footer__bottom
		.footer__description-left
			p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer__description-right
			p © Андрощук Серей | создано с любовью в LoftSchool | 2016