.header__container
	header.header__wrap#header
		.header__item
			ul.icon__wrap-link
				li
					a(href="https://vk.com/grey_ss",target="_blank")
						+icon('vk')
				li
					a(href="https://github.com/AndroshchukSerhii",target="_blank")
						+icon('github')
				li
					a(href="https://ua.linkedin.com/in/сергей-андрощук-1b03b8125",target="_blank")
						+icon('in')
		.header__item.header__item_humburger#toggle
			span(class="header__humburger_top")
			span(class="header__humburger_middle")
			span(class="header__humburger_bottom")
	.header__content
		+icon('portfolio_header')
		.header__content-wrap
			.welcome__img-wrap
				img(src="/assets/img/avatar.jpg", class="welcome__avatar" alt="portfolio")
			.welcome__text-name.welcome__text-name_white
				h2 #{name}
				p #{descr} 
		.header__arrow-down
			a(href="#section")
				+icon('portf_arrow_down')
		svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
			polygon(points="0,0   0,86   500.8,86   500.8,75.5", class="polygon__triangle-left")
			polygon(points="1000,00   1000,86   500,86   500,75.5", class="polygon__triangle-right")
	.overlay#overlay
		.overlay-menu
			ul
				li
					a(href="/works.html")
						h2  Мои работы
				li
					a(href="/blog.html")
						h2  Блог
				li
					a(href="/about.html")
						h2 Обо мне
				li
					a(href="/index.html")
						h2 Авторизация