header.header__wrap
	.header__item
		ul.icon__wrap-link
			li
				+icon('vk')
			li
				+icon('github')
			li
				+icon('in')
	.header__item
		+icon('hamburger')
.header__content
	.header__content_wrap
		.welcome__img_wrap
			img(src="/assets/img/avatar.jpg", class="welcome__img_avatar")
		.welcome__text_name.welcome__text_white
			h2 #{name}
			p Личный сайт веб разработчика
	svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
		polygon(points="0,0   0,86   500.8,86   500.8,75.5")
		polygon(points="1000,00   1000,86   500,86   500,75.5",fill="#eeebdf")