header.header__wrap
	.header__item
		ul.icon__wrap-link
			li
				a(href="#")
					+icon('vk')
			li
				a(href="#")
					+icon('github')
			li
				a(href="#")
					+icon('in')
	.header__item
		span
			+icon('hamburger')
.header__content
	+icon('portfolio_header')
	.header__content-wrap
		.welcome__img-wrap
			img(src="/assets/img/avatar.jpg", class="welcome__avatar")
		.welcome__text-name.welcome__text-name_white
			h2 #{name}
			p Личный сайт веб разработчика
	.header__arrow-down
		a(href="#")
			+icon('portf_arrow_down')
	svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
		polygon(points="0,0   0,86   500.8,86   500.8,75.5", class="polygon__triangle-left")
		polygon(points="1000,00   1000,86   500,86   500,75.5", class="polygon__triangle-right")