.blog__wrap {
	box-sizing: border-box;
	width: 100%;
	padding: 50px 10px 60px;
	background: #fff;
	display: flex;
}
.blog__navigation {
	box-sizing: border-box;
	width: 25%;
}
.welcome__title-blog {
	color: #fff;
}
.blog__content {
	box-sizing: border-box;
	width: 75%;
	margin: 0;
	padding-left: 80px;
	span {
		line-height: 67px;
		color: #7fd6c7;
	}
	p {
		line-height: 1.5;
		padding-bottom: 20px;
	}
}
.blog__img {
	max-width: 100%;
}
.blog__list {
	margin: 0;
	padding: 0 0 0 40px;
	text-align: right;
	list-style: none;
}
.blog__list-item {
	padding: 10px;
	a {
		font-family: "robotoregular", sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #455a64;
	}
}
.blog__list-item_active {
	border-right: 3px solid #00bfa5;
	a {
		font-weight: bold;
		color: #00bfa5;
	}
}
.blog__themes {
	padding-right: 100px;
}