.page__wrap_welcome {
	margin-bottom: -100px;
	 &:after {
  		height: 40px;
	}
}
.weclome-footer {
	position: absolute;
	// height: 90px;
	color: #ebedee;
	font-family: 'robotolight', sans-serif;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	position: relative;
	z-index: 10;
	height: 150px;
	background-color: #2f4045;
}
.footer__top {
	height: 75px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #666c6e;
	padding: 0 20px 0 10px;
}
.footer__menu-wrap {
	align-items: center;
	display: flex;	
}
.footer__bottom {
	box-sizing: border-box;
	display: flex;
	height: 	50%;
	color: #97a1a1;
	p {
		color: #97a1a1;		
	}
}
.footer__menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-item: center;
}
.footer__menu-item {
	padding: 20px;
}
.footer__item-wrap {
	height: 100%;
	li {
		margin: 0;
		padding: 0 5px;
	}
}
.footer__description-left {
	padding: 0 20px;
	display: flex;
	align-items: center;
	width: 50%;
}
.footer__description-right {
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
}