extends ../_template
include ../mixins
block variables
  - var title = 'About'
  - var name = "Андрощук Сергей"
  - var descr = "Личный сайт веб разработчика"

block content
  include ../common/_about
  include ../common/footer
  include ../common/preloader