extends ../_template-blog
include 	../mixins
block variables
  - var descr = 'Статьи которые я написал'
  - var name = "Блог"
  - var title = "Blog"

block content
  include ../common/_blog
  include ../common/footer
  include ../common/preloader