extends ../_template
include ../mixins
block variables
	- var title = 'Works'
	- var name = "Андрощук Сергей"
	- var descr = "Личный сайт веб разработчика"

block content
	include ../common/_works
	include ../common/footer
	include ../common/preloader